@import url('https://fonts.googleapis.com/css?family=Lobster');

@font-face {
  font-family: 'Lobster', cursive;
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 1;
      -webkit-column-count: 1;
      -moz-column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 3;
      -webkit-column-count: 3;
      -moz-column-count: 3;
  }
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: #f8f9fa;
  /*background: linear-gradient(90deg, #625EB1 100%, #2787DA 0%);*/
}

header {
  background: url(../img/city-large.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 1%;
}

.jumbotron {
  margin-bottom: 1%;
  padding: 2rem 2rem;
}

#navtop {
  margin-bottom: 1%;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.quote1 {
  background: url(../img/keyboard-small.jpg);
  background-size: cover;
  background-position: center;
}

.quote2 {
  background: url(../img/man-small.jpg);
  background-size: cover;
  background-position: center;
}

.quote3 {
  background: url(../img/station-small.jpg);
  background-size: cover;
  background-position: center;
}

#tulacafe {
  background: url(https://tulacafe.ru/assets/splash-bg.jpg);
  background-size: cover;
  background-position: center;
}

#mylinks {
  background: url(../img/man-small.jpg);
  background-size: cover;
  background-position: center;
}