@import url('https://fonts.googleapis.com/css?family=Lobster');

@font-face {
  font-family: 'Lobster', cursive;
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 1;
      -webkit-column-count: 1;
      -moz-column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 3;
      -webkit-column-count: 3;
      -moz-column-count: 3;
  }
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: #f8f9fa;
  /*background: linear-gradient(90deg, #625EB1 100%, #2787DA 0%);*/
}

header {
  background: url(../img/city-large.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 1%;
}

.jumbotron {
  margin-bottom: 1%;
  padding: 2rem 2rem;
}

@media (max-width: 767.98px) {
  .jumbotron-logo {
    display: none;
  }
}

#navtop {
  margin-bottom: 1%;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.quote1 {
  background: url(../img/keyboard-small.jpg);
  background-size: cover;
  background-position: center;
}

.quote2 {
  background: url(../img/man-small.jpg);
  background-size: cover;
  background-position: center;
}

.quote3 {
  background: url(../img/station-small.jpg);
  background-size: cover;
  background-position: center;
}

#tulacafe {
  background: url(https://tulacafe.ru/assets/splash-bg.jpg);
  background-size: cover;
  background-position: center;
}

#mylinks {
  background: url(../img/man-small.jpg);
  background-size: cover;
  background-position: center;
}

#massage {
  background: url(https://caring-hands.github.io/images/services-bg.jpg);
  background-size: cover;
  background-position: center;
}

#elenapro {
  background: url(https://elena-pro.github.io/images/makeup3.jpg);
  background-size: cover;
  background-position: center;
}

.black {
  color: #000;
}

.resume-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  .resume-section {
    min-height: 50vh;
  }
  .resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  .resume-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.social {
  font-size: 2rem;
}

.div-color {
  background: linear-gradient(290deg, #7f05e5, #0fc0ff, #ff3800, #ff00bf, #ffec00);
  background-size: 1000% 1000%;
  -webkit-animation: div_color 5s ease infinite;
  -moz-animation: div_color 5s ease infinite;
  animation: div_color 5s ease infinite;
}
@-webkit-keyframes div_color {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-moz-keyframes div_color {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@keyframes div_color { 
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
